

.dropdown {
  position: absolute;
  z-index: 9999;
  background-color: white;
  box-shadow: 0px 1px 1px black;
}

.ram-main-sec{
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #ededed;
  width: 700px;
  box-shadow: 0px 3px 3px black;
}
.ram-badge {
  background: #ffffff;
  color: darkgray;
  padding: 10px ;
  font-size: 14px;
  font-weight: 500;
  float: left;
  width: 100%;
  .ram-header {
    padding: 5px 10px 10px 10px;
  }
}


.ram-table-body {
  background-color: white;
  padding: 5px 0px 0px 5px;
  margin-top: 5px;
  max-height: 250px;
  height: auto;
  overflow-y:scroll;
  position:relative;
}

.empty-values{
  height:200px;
  display: flex;
  border-radius: 5px ;
  background-color: #f3f3f3;
}

.ram-main-content{
  padding:10px;
  background-color: aliceblue;
}
