<app-nav-bar>
</app-nav-bar>

<div class="ram-main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <br>
        <div class="form-group holder">
          <input type="text" class="form-control mr-sm-2"  placeholder="Select Customer Name" name="CustomerID"
                 (click)="hideShow()">
          <div *ngIf="flagDiv" class="dropdown">
            <div class="ram-main-sec">
              <div class="ram-badge">
                <div class="row ram-header">
                  <div [class]="columns[key].class" *ngFor="let key of objectKeys(columns)">

                    {{columns[key].label}}
                    <span *ngIf="columns[key].label === 'Action'">
                      <a href="javascript:void(0)" (click)="hideShow()"
                         class="float-right">[X]</a></span>
                  </div>

                </div>
              </div>

              <div class="ram-table-body" *ngIf="data && data.length>0; else displayEmptyTable">
                <ng-container *ngFor="let row of data">
                  <app-select-row [columns]="columns" [rowData]="row" (addEmitter)="addToList($event)"
                                  [selectedList]="selectedData">

                  </app-select-row>
                </ng-container>

              </div>
              <ng-template #displayEmptyTable>
                <div class="ram-table-body">
                  <div class="empty-values">

                  </div>
                </div>
              </ng-template>

            </div>

          </div>
        </div>
      </div>


    </div>


    <div class="row">
      <div class="ram-main-sec">
        <div class="ram-badge">
          <div class="row ram-header">
            <div [class]="columns[key].class" *ngFor="let key of objectKeys(columns)">
              {{columns[key].label}}
            </div>

          </div>
        </div>
        <div *ngIf="selectedData && selectedData.length>0 else emptyTable">
          <ng-container *ngFor="let row of selectedData; index as i">
            <app-select-row [columns]="readOnlyColumns" [rowData]="row" (removeEmitter)="removeFromList(i)"
                            [selectedList]="selectedData">

            </app-select-row>
          </ng-container>

        </div>
        <ng-template #emptyTable>
          <div class="ram-table-body">
            <div class="empty-values">

            </div>
          </div>
        </ng-template>
      </div>

    </div>
  </div>
</div>


